{% extends "base.html" %}

{% block content %}
<div class="anatomy">
    <h1 class="text-center">The Anatomy and Life of a Bee</h1>
    <h3>Brief description</h3>
    <p>
        Bees, belonging to the order Hymenoptera and family Apidae, are small, winged insects that have captivated both
        scientists and nature enthusiasts for centuries. The most well-known species, the European honeybee (Apis
        mellifera), is a pinnacle of social organization. A honeybee colony operates as a superorganism, where
        individual
        roles contribute to the collective survival of the hive. These fascinating creatures are intricately designed
        for
        their roles within the ecosystem. Their six legs, two pairs of wings, and compound eyes allow them to navigate
        complex environments with precision.
    </p>
    <img src="{{ url_for ('static', path='img/diela/honey-bee-02.png') }}" alt="Bee sitting on a honeycomb"
        title="Close up view on bee - A bee sitting on a honeycomb" loading="lazy">
    <p>
        At the heart of their success lies their social structure. The queen bee, the matriarch of the colony, has a
        lifespan of up to five years and can lay up to 2,000 eggs a day at her peak. Workers, numbering in the tens of
        thousands, undertake diverse roles, ranging from nurses caring for larvae, to foragers scouring the countryside
        for
        nectar, to guards protecting the hive’s entrance. Drones, the male bees, live shorter lives but play the
        critical
        role of ensuring the propagation of future colonies through mating.
    </p>
    <h3>Communication system</h3>
    <p>
        The communication system of honeybees is equally remarkable. The waggle dance, a choreographed movement
        performed by
        foragers, conveys detailed information about the location of food sources, including distance, direction, and
        quality. This unique behavior demonstrates their ability to process and share complex information, a trait that
        has
        long fascinated researchers.
    </p>
    <img src="{{ url_for ('static', path='img/diela/luborec_2017-07-05_peto-vladka-vytacanie-medu_435a_z.jpg') }}"
        alt="Busy bees inside a beehive" title="Busy bees inside a beehive" loading="lazy">
    <p>
        From an evolutionary perspective, bees have coexisted and coevolved with flowering plants for millions of years.
        Their proboscis, a specialized feeding structure, enables them to extract nectar from even the most intricate
        flowers. Their body hairs, finely adapted to trap pollen, ensure that their pollination efforts are both
        efficient
        and far-reaching.
    </p>
    <h3>Lifecycle of a bee</h3>
    <p>
        The lifecycle of a bee, from egg to larva to pupa to adult, unfolds entirely within the protective confines of
        the
        hive. Each stage is a marvel of transformation, supported by the collective efforts of the colony. The wax comb,
        painstakingly constructed by workers, serves as the foundation for raising young and storing food. The precision
        of
        its hexagonal structure maximizes strength and storage efficiency, a testament to the architectural genius of
        bees.
    </p>
    <img src="{{ url_for ('static', path='img/diela/luborec_2016-06-05_vcely_223c.jpg') }}" alt="Close up view on bees"
        title="Close up view on bees" width="100%" loading="lazy">
    <p>
        In the broader ecological context, bees play an indispensable role. Beyond their work as pollinators, their
        behavior
        and survival reflect the health of ecosystems. A thriving hive is often a barometer of environmental stability,
        while declines in bee populations signal broader ecological imbalances. Their existence serves as both a
        reminder
        and a call to action to preserve the interconnected web of life that sustains all living things.
    </p>
    <h3>Bee roles</h3>
    <h4>Queen</h4>
    <p>
        Each bee—whether queen, worker, or drone—has a specialized role, forming a highly organized and interdependent
        society. The queen, larger than her colony mates, is not only the sole egg layer but also the pheromonal
        heartbeat
        of the hive, guiding its behavior and cohesion. Her royal duties are demanding, as she lays up to 2,000 eggs a
        day,
        ensuring the future of the colony. Workers, sterile females, tirelessly handle all aspects of hive maintenance.
        They
        are the unsung heroes, fulfilling roles such as foraging for nectar and pollen, producing wax to build comb,
        regulating hive temperature by fanning their wings, and nursing the queen’s offspring with royal jelly or honey.
    </p>
    <img src="{{ url_for ('static', path='img/diela/luborec_2016-06-05_vcely_213c_z.jpg') }}" alt="Queen" title="Queen"
        width="100%" loading="lazy">
    <img src="{{ url_for ('static', path='img/diela/luborec_2018-06-26_vcely_280c_z.jpg') }}" alt="Queen" title="Queen"
        width="100%" loading="lazy">
    <h4>Drones</h4>
    <p>
        Male drones, despite their brief lifespans, perform a singular but critical function—to mate with virgin queens
        from
        other colonies. This act of reproduction comes at the ultimate cost, as drones die shortly after mating. Yet
        their
        sacrifice ensures the genetic diversity and vitality of future colonies. The hive operates as a finely tuned
        machine, with each member’s contribution vital to its survival. It is a system built on collaboration,
        resilience,
        and purpose—a reflection of nature’s genius.
    </p>
    <img src="{{ url_for ('static', path='img/diela/luborec_2016-06-05_vcely_246_z.jpg') }}" alt="Drone"
        title="Harmless drone in a small hand of a niece helping with bee hive inspection" width="100%" loading="lazy">
    <h4>Worker bees</h4>

    <p>
        The anatomy of bees is uniquely suited to their ecological role. Their proboscis, a highly specialized tube-like
        structure, enables them to extract nectar from even the deepest flowers with precision. Meanwhile, their hind
        legs
        are marvelously adapted with "pollen baskets" or corbiculae, structures designed to efficiently transport large
        quantities of pollen back to the hive. These baskets are flanked by stiff hairs that hold the pollen in place,
        forming golden clumps as the bees diligently work.
    </p>
    <img src="{{ url_for ('static', path='img/diela/luborec_2018-06-26_vcely_575_z.jpg') }}" alt="Honeycomb"
        title="Honeycomb full of worker bees" width="100%" loading="lazy">
    <h3>Senses</h3>
    <p>
        Compound eyes, composed of thousands of tiny lenses, provide bees with a broad field of vision and the ability
        to
        detect ultraviolet patterns invisible to the human eye. These patterns, often found on flowers, act as visual
        guides
        leading bees directly to the nectar source. The sensitive antennae of bees serve a dual purpose, acting as both
        sensory organs for touch and smell. Bees use their antennae to detect pheromones within the hive and to sense
        the
        chemical composition of plants, ensuring they forage for the highest-quality resources.
    </p>

    <p>
        Perhaps the most fascinating behavioral trait of bees is their waggle dance. This intricate and mesmerizing form
        of
        communication involves a foraging bee vibrating its abdomen and moving in specific patterns. The dance encodes
        critical information such as the distance and direction of a food source relative to the hive. By aligning their
        movements with the position of the sun, bees translate spatial information into a shared language that guides
        others
        to precise locations, showcasing their extraordinary cognitive abilities and teamwork.
    </p>
</div>
{% endblock %}