{% extends "base.html" %}

{% block content %}
<div id="home">
    <!-- <h1>Welcome to My Beekeeping Haven</h1> -->
    <div x-data="{show_new: true}" x-init="$watch('show_new', value => {
        if (show_new) {
            htmx.process(document.querySelector('#new_content'))
        }
    })">
        <h2 id="toggle-content" @click="show_new = !show_new">
            <span x-text="show_new ? 'Hide Content' : 'Show Menu Links'"></span>
        </h2>
        <template x-if="show_new">
            <div id="new_content" style="display: block" hx-swap="outerHTML">
                <a style="display: block" hx-get="/home-core">Home</a>
                <a style="display: block" hx-get="/anatomy-core">Anatomy</a>
                <a style="display: block" hx-get="/pollinators-core">Pollinators</a>
                <a style="display: block" hx-get="/science-core">Science</a>
                <a style="display: block" hx-get="/challenges-core">Challenges</a>
                <a style="display: block" hx-get="/lessons-core">Lessons</a>
            </div>
        </template>
    </div>

    <ul>
        <li>

        </li>
        <!-- <li id="home__section" hx-get="/home-core" hx-trigger="click" hx-swap="innerHTML">Welcome to My Beekeeping Haven
        </li>
        <li id="anatomy__section" hx-get="/anatomy-core" hx-trigger="click">The Anatomy and Life of a Bee</li>
        <li id="pollinators__section" hx-get="/pollinators-core" hx-trigger="click">Bees as Pollinators: Guardians of
            Biodiversity</li>
        <li id="science__section" hx-get="/science-core" hx-trigger="click">The Art and Science of Beekeeping</li>
        <li id="challenges__section" hx-get="/challenges-core" hx-trigger="click">Challenges Facing Bees and Beekeeping
        </li>
        <li id="lessons__section" hx-get="/lessons-core" hx-trigger="click">Lessons from the Hive</li> -->
    </ul>
</div>


{% endblock %}