{% extends "base.html" %}

{% block content %}
<main class="text-center dark-bg">
    <div class="row">
        <div>
            <h1>Welcome to My Beekeeping Haven</h1>
            <p>

                Hello, and thank you for visiting! My name is Peter Hradil, and I’m a beekeeper living in the charming
                town of Lučenec, Slovakia. By profession, I’m a secondary technical school teacher in Podbrezová,
                traveling 100 kilometers weekly between work and home. But beyond the classroom, my true passion lies
                with the buzzing world of bees.
            </p>
            <p>
                Beekeeping is more than a hobby for me—it’s a way of life. From tending to the hives in the quiet hours
                of the weekend to marveling at the delicate balance of nature, I’ve found joy, purpose, and connection
                through this ancient craft. Each hive is a universe unto itself, brimming with life, harmony, and
                lessons about resilience.
            </p>
            <p>
                Through this website, I hope to share the wonders of beekeeping and the stories of my journey—the
                challenges, the triumphs, and the sweet rewards (including honey!). Whether you’re here to learn more
                about bees, explore the products of the hive, or simply discover a bit of inspiration, I’m glad you’ve
                found your way here.
            </p>
            <p>
                Let’s celebrate the magic of bees together. Welcome to my beekeeping haven!
            </p>

        </div>

        <!-- <aside class="col">
            <div class="projekty">
                <h2>Prezentácia</h2>
                <div x-data="{ open: false, fetchProjekty }">
                    <button class="btn btn-primary m-4" @click="open = !open"
                        x-text="open ? 'Skry projekty' : 'Zobraz projekty'"></button>

                    <div x-show="open">
                        <div x-data="fetchProjekty()">
                            <div x-html="projekty"></div>
                        </div>
                    </div>
                </div>
            </div>
        </aside> -->
    </div>



</main>

<script>
    async function fetchProjekty() {
        try {
            const response = await fetch('/portfolio_short');
            this.projekty = await response.text();
            console.log(this.projekty);
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>

{% endblock %}