{% extends "base.html" %}

{% block content %}
<h1 class="text-center">Formulár na kontakt</h1>
<form class="form_inputs">
    <div id="form-container">
        <div class="mb-3">
            <label for="fname" class="form-label">Meno</label>
            <input type="text" id="fname" class="form-control" placeholder="Jozef" name="fname" required>
        </div>
        <div class="mb-3">
            <label for="lname" class="form-label">Priezvisko</label>
            <input type="text" id="lname" class="form-control" placeholder="Mkrvička" name="lname" required>
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Telefónne čílo</label>
            <input type="text" id="phone" class="form-control" placeholder="0912 345 678" name="phone" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" placeholder="mkrvicka@gmail.com" name="email" required>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Správa</label>
            <textarea class="form-control" id="message" rows="3" placeholder="Tu napíš svoju správu." name="message"
                required></textarea>
        </div>

        <button type="button" class="btn btn-primary" hx-post="/kontakt" hx-trigger="click" hx-target="#form-container"
            hx-swap="innerHTML">Odoslať</button>
    </div>
</form>
{% endblock %}