<div class="portfolio">
    <h1 class="text-center">{{ data.title }}</h1>
    <div class="card-text">
        {% for paragraph in data.text %}
        <p class="text-indent">{{ paragraph }}</p>
        {% endfor %}
    </div>
    {% for img in data.imgs %}
    <img src="{{ url_for ('static', path='img/diela/' ~ img) }}" alt="Ilustračný obrázok">
    {% endfor %}
</div>
<div class="row justify-content-center">
    <button type="button" class="btn btn-primary mt-4 col-lg-1 col-md-2 col-sm-3" hx-get="portfolio/items"
        hx-trigger="click" hx-target="#portfolio-items" hx-swap="innerHTML">Späť
    </button>
</div>